@import "tailwindcss";
:root {
  --background: 2 6 23; /* Slate 950 */
  --foreground: 248 250 252; /* Slate 50 */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  antialiased : true;
}

/* Custom Scrollbar for that "tech" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}